@page
@model CarRentalRazor.Pages.UserManager.RentalCarsModel

@{
    ViewData["Title"] = "RentalCars";
}
<section>
    <h1>Rental Cars</h1>

    <table class="table long">
        <thead>
            <tr>
                <th>Model</th>
                <th>kr/day</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Car) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                        <img src="@item.PictureString" alt="Car Image" height="100">
                </td>
                <td>
                    @if(SessionControl.IsCustomer(HttpContext.Session))
                    {
                        <a asp-page="./Reservations" asp-route-id="@item.Id">Reserve</a>
                    }
                    else
                    {
                        <a asp-page="/UserManager/SignIn" asp-route-id="@item.Id">Reserve</a>
                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>
