@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRentalRazor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRentalRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="">
                <a class="" asp-area="" asp-page="/Index"><img src="~/Images/FribergLogo.png" alt="SiteLogo" width="150" height="150"></a>
                <ul class="">
                    @if (!SessionControl.IsCustomer(httpContext.Session) && !SessionControl.IsAdmin(httpContext.Session))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-page="/UserManager/RentalCars">Rental Cars</a>
                        </li>
                        <li style="margin-left: auto;">
                            <a class="" asp-area="" asp-page="/UserManager/SignIn">Sign In</a>
                        </li>
                    }
                    else if (SessionControl.IsCustomer(httpContext.Session))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-page="/UserManager/RentalCars">Rental Cars</a>
                        </li>
                        <li style="margin-left: auto;">
                            <a class="" asp-area="" asp-page="/UserManager/Profile">@httpContext.Session.GetString("CustomerFirstName")[0] @httpContext.Session.GetString("CustomerLastName")[0]</a>
                        </li>
                    }
                    else if (SessionControl.IsAdmin(httpContext.Session))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-page="/Cars/Index">Cars</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-page="/Reservations/Index">Reservations</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-page="/Customers/Index">Customers</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-page="/Admins/Index">Admins</a>
                        </li>

                        <li style="margin-left: auto;">
                            <a class="" asp-area="" asp-page="/AdminManager/Profile">@httpContext.Session.GetString("AdminFirstName")[0] @httpContext.Session.GetString("AdminLastName")[0]</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            &copy; 2024 - CarRentalRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>